#inicio{
    background-image: url(img/principal.png);
    background-repeat: no-repeat ;
    background-size: cover;
}
#frase{block-size: 549px;}
#LOGO  {    
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0px;
    width: 282px;}

h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif /*cambiar a Lexend Zetta*/
}

p, aside{
    font-family: sans-serif;
    font-size: 15px;
}
#navScroll {
    height: calc(100% - 74px);
    position: fixed;
    color: #FFF;
    z-index: 98;
    top: 74px;}
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;}
        ul {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }
        #navScroll li {
            max-height: 150px;
            min-height: 50px;
            position: relative;
            padding-left: 50px;
            margin-top: 15px;
            height: 17%;
        }
        li {
            display: list-item;
            text-align: -webkit-match-parent;}
.bloqcuote{
    font-size: large;
    font-family: monospace;
    padding-left: 138px;
    padding-right: 183px;
}
.quiensoy{
    background-color: white;
}

.propositos{
    background-color: #DFEAB3;  
}

.numeros{
    font-size: 55px;
    font-family: monospace; /*cambiar a Alfa Slab One*/
}
body{text-align: center;}
 
form.formulario{    background: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid;
    height: 30px;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: rgb(192, 51, 51) !important;}