h2{
 font-family: Verdana, Geneva, Tahoma, sans-serif /*cambiar a Lexend Zetta*/







 
.quiensoy{
    background-color: white;
}


.propositos{
    background-color: #DFEAB3;
    
}
  
.numeros{
    font-size: 45px;
    font-family: monospace; /*cambiar a Alfa Slab One*/

}

 