
header{
    height: 100vh;
}

/*1er DIV - LANDING*/
.text-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 12px;
    z-index: 2;
}

.image-header{
    width: 70%;
    background-image: url(img/Fotomovil.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: -100px;
    margin-left: -20%;

}
@media all and (min-width: 960px) {
    .text-header{
        width: 70%;
        padding-left: 15%;
    }
    .image-header{
        width: 30%;
        background-image: url(img/Fotomovil.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: -100px;
        margin-left: 0;
    }
}

.inicioo{
    display: flex;
    background: #bebebe;
    padding-bottom: 100px;


}

@media (max-width: 600px min-width:300px){
    .foto {
        width: 180px;
        height: 370.85px;
    }}
.foto{
    background-image: url(img/Fotomovil.png);
    position: relative;
    background-size: contain !important;
  justify-content: center;
    background-repeat: no-repeat;
    display: flex;}
#inicio{
    background-image: url(img/fotoprincipaldef.png);
    background-repeat: no-repeat ;
    background-size: cover;


    height: 100% !important;
}


#LOGO  {
    padding-top: 110px;
    padding-bottom: 100px;
    padding-left: 0PX;
    width: 282px;
    height: auto;
    text-align: center;
}


#frase{
    padding-left: 15%;
    max-width: 65%;
}


#redes{
    position: fixed;
    right: 0;
    top: 50%;
    right: 30px;
    z-index: 999;
}

/*2o DIV - SOBRE MI*/
.about-me{
    height: 100vh;
}

/*H1 SOBRE MÍ*/
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.sobre-mi{
    width: fit-content;
    border-bottom: 5px solid #a5cd07;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 60px;
    padding-bottom: 10px;
    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: -2px;
}
.silueta{
    background-image: url(img/silueta.png);
    width: 100%;
    position: relative;
    background-size: cover;
    height: 525px;
}

/*PARRAFOS SOBRE MÍ*/
#sobre-mi-p{
    padding-left: 6.4em;
    padding-right: 6.4em;
    text-align: center;
}
/*hola*/

#sobre-mi-p-ult{
    padding-bottom: 50px;
    padding-left: 6.4em;
    padding-right: 6.4em;
    text-align: center;

}
/*barrita verde abajo
#sobre-mi-p:last-of-type{
    border-bottom: 5px solid #a5cd07;
}
*/





/*DIV 3 - FOTOS*/

.img-fluid{
    height: 100% !important;
    object-fit: cover;
}

.row{
    margin-bottom: 10px;
    object-fit: cover;
}
.col-sm{
    margin-bottom: 10px;
}

.card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px;
    border: 0 !important;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card img, .card-img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top:0;left:0;right:0;
}

.card-img-overlay {
    transform: rotateY(180deg);
    background:#000000;
    color:#a5cd07;
    text-align: center;
    display: table;
    width: 100%;
    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: -3px;
}

.card-img-overlay h1{
    display: table-cell;
    vertical-align: middle;
}













p, .form-group, .parrafo-propositos,#contacto-parrafo{
    font-family: 'Poppins', sans-serif;
}



.parrafo{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.last-p{
    margin-left: 37%;
    margin-right: 20%;
}

#conoceme {
    margin-top: 90px;
    border-left: 3px solid #a5cd07;;
    padding-left: 37px;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
}

#texto-principal{
    font-size: 25px;
    font-family: 'Abel', sans-serif;
}



/*DIV 4 - PROPÓSITOS*/
#propositos{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #a5cd076b;
}



/*DIV 5 - FORTALEZAS*/
#numeros{
    padding-top: 40px;
    padding-bottom: 40px;
}
#numeros h1{
    color: #a5cd07;
    font-size: 70px;
    font-family: 'Alfa Slab One', cursive;
}

#numeros p{
    font-weight: bold;
    font-size: 25px;
}

#numeros .col-sm{
    text-align: center;
}


/*DIV 6 - CONTACTO*/

#contacto-titular{
    font-family: 'Lexend Zetta', sans-serif;
    letter-spacing: -2px;
}
 @media screen and(max-width:600px){
     .col-4{
         padding: inherit;
     }   }
 @media screen and (max-width:600px){
    .col-8{
        padding: inherit;
    }}

#formulario{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #3a3a3a;
    color: white;
}

#formulario input, #formulario textarea {
    display: block;
    width: 100%;
    background: #ff000000;
    border: 0;
    border-bottom: 0.1px solid white;
}

#formulario button{
    background: #ff000000;
    color: #a5cd07;
    border: 1px solid #a5cd07;
    font-size: 20px;
    border-radius: 47px;
    padding-left: 50px;
    padding-right: 50px;
}

#contactame{
    vertical-align: middle;
    height: 40px;
    margin-top: 30%;
    border-top: 5px solid #a5cd07;
    padding-top: 20px;
    width: fit-content;
}



